@{

}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>About</title>



    <!-- bootstrap core css -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <!-- nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
    <!-- datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>

<body class="sub_page">
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="/images/about1-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About <span>Clinic</span>
                            </h2>
                        </div>
                        <p class="text-justify">
                            Just make a call to our hotline or book on this website,

                            you gonna meet out best experienced doctors and get the best medical care.

                            Mico Clinic is a trusted healthcare provider in Ho Chi Minh City.

                            We offer a wide range of medical services, including general medicine, 

                            women's health, men's health, pediatrics, and more.

                            Our doctors are highly experienced and qualified, and they are committed 

                            to providing our patients with the best possible care.

                            To make an appointment with Mico Clinic, you can call our hotline or book online.

                            Our appointment booking system is quick and easy to use, and it allows you 
                            
                            to choose the time and date that works best for you.

                            We believe that everyone deserves access to quality healthcare, and we are committed 
                            
                            to making it easy for our patients to get the care they need.

                            Call us today to schedule an appointment and experience the difference that 
                            
                            Mico Clinic can make.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
   
 
    <!-- jQery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>


</body>

</html>